.about {
  background: $color-shade-200;

  &__contents {
    @include at-least(medium) {
      align-items: center;
      background: url('../img/hero@3x.jpg') 78% top / cover no-repeat $color-shade-300;
      display: flex;
      min-height: to-rem(360px);
    }

    @include at-least(mediumwide) {
      background-position-x: 90%;
    }

    @include at-least(wide) {
      min-height: to-rem(400px);
    }

    @include at-least(extrawide) {
      min-height: to-rem(480px);
    }
  }

  &--narrow {
    align-items: flex-start;
    background: url('../img/hero@3x.jpg') right top / cover no-repeat $color-shade-300;
    display: flex;
    min-height: to-rem(100px);
    padding: $space-c;

    @include at-least(extranarrow) {
      align-items: center;
      min-height: to-rem(140px);
    }

    @include at-least(narrow) {
      min-height: to-rem(190px);
    }

    @include at-least(medium) {
      display: none;
    }
  }

  &__mobilename {
    @include font(700, 36px, 32px, -.3px, $font-zilla);

    color: $color-blue-500;
    margin: 0;
    max-width: to-rem(180px);

    @include at-least(narrow) {
      @include font(700, 60px, 50px, -.35px, $font-zilla);
      max-width: to-rem(230px);
    }
  }

  &__copy {
    color: $color-blue-700;
    margin: 0;
    padding: $space-b;

    @include at-least(medium) {
      display: block;
      padding: $space-c;
      width: 50%;
    }

    @include at-least(wide) {
      padding: $space-c $space-c $space-c to-rem(60px);
    }

    @include at-least(extrawide) {
      padding: $space-c $space-c $space-c to-rem(90px);
    }
  }

  &__tagline {
    @include font(700, 20px, 24px, -.1px);

    margin: 0;

    @include at-least(medium) {
      @include font(700, 22px, 30px, -.1px);
    }

    @include at-least(wide) {
      @include font(700, 26px, 34px, -.15px);
    }
  }

  &__summary {
    @include font(400, 16px, 20px, -.15px);

    margin: 0;
    padding: $space-b 0 0;

    @include at-least(medium) {
      @include font(400, 18px, 24px, -.2px);
    }

    @include at-least(wide) {
      @include font(400, 22px, 30px, -.3px);
    }
  }
}
