.photos,
.headshots,
.videos,
.footer {
  padding: $space-b;

  @include at-least(medium) {
    padding: $space-c;
  }
}

.headshots__gallery {
  .gallery__thumbnail {
    display: flex;
    flex: 0 1 100%;
    margin: 0;
    padding: $space-grid;

    @include at-least(narrow) {
      flex: 0 1 33.33%;
    }

    @include at-least(wide) {
      flex: 0 1 33.33%;
    }

    @include at-least(extrawide) {
      flex: 0 1 33.33%;
    }
  }
}

.videos__gallery {
  .gallery__thumbnail {
    display: flex;
    flex: 0 1 100%;
    margin: 0;
    padding: $space-grid;

    @include at-least(narrow) {
      flex: 0 1 50%;
    }

    @include at-least(wide) {
      flex: 0 1 25%;
    }

    @include at-least(extrawide) {
      flex: 0 1 25%;
    }
  }
}

.videos button {
  -webkit-appearance: none;
  border: 0;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.footer {
  @include font(400, 14px, 14px, -.1px);

  color: $color-shade-500;

  &__contents {
    display: flex;
    justify-content: space-between;
  }

  &__copyright,
  &__attribution {
    flex: 0 0 auto;
    margin: 0;
  }

  &__attribution a {
    text-align: right;
  }
}
