@import url('https://fonts.googleapis.com/css?family=Barlow:400,600,700|Zilla+Slab:400,700&display=swap');

$font-zilla: 'Zilla Slab', system-ui, BlinkMacSystemFont, -apple-system, "Segoe UI", sans-serif;
$font-barlow: 'Barlow', system-ui, BlinkMacSystemFont, -apple-system, "Segoe UI", sans-serif;
