@use 'global/_normalize' as *;
@use 'global/_mixins' as *;
@use 'global/_vars' as *;
@use 'global/_fonts' as *;

* {
  font-family: $font-barlow;
}

body {
  height: 100%;
}

.contents {
  margin: 0 auto;
  max-width: 1300px;
}

// Buffer sticky elements on the page.
.static {
  padding-bottom: $height-nav-narrow + $height-contact-narrow;

  @include at-least(medium) {
    padding-bottom: $height-contact-medium;
    padding-top: $height-nav-medium;
  }
}

a {
  color: $color-blue-500;
  text-decoration: none;
  transition: color .15s, background-color .15s, box-shadow .15s;

  &:hover, &:focus {
    color: $color-blue-300;
  }

  &:active {
    color: $color-blue-700;
    transition: color 0s, background-color 0s, box-shadow 0s;
  }
}

h2 {
  @include font(700, 30px, 32px, -.3px, $font-zilla);

  color: $color-blue-700;

  @include at-least(medium) {
    @include font(700, 32px, 36px, -.35px, $font-zilla);
  }

  @include at-least(wide) {
    @include font(700, 40px, 42px, -.4px, $font-zilla);
  }
}
