// Colors
$color-blue-300: #64d2e3;
$color-blue-500: #34a6c2;
$color-blue-700: #004152;
$color-pink-500: #e46384;
$color-pink-700: #c93a5e;
$color-shade-100: #fbfcfe;
$color-shade-200: #f4f5f7;
$color-shade-300: #e7e8ea;
$color-shade-900: #0f0f0f;

// Spacings
$space-a: to-rem(10px);
$space-b: to-rem(20px);
$space-c: to-rem(30px);
$space-d: to-rem(40px);
$space-e: to-rem(50px);
